.profile__container{
    width: 100%;
    display: flex;
}
.profile__employee{
    flex: o 1 100%;
    height: 220px;
}
.employee__name{
    height: 1%;
    padding: 30px;
    padding-left: 148px;
    padding-bottom: 20px;
    margin: auto;
}
.employee__position{
    padding: 30px;
    padding-left: 150px;
    margin: auto;
}
.profile__contacts{
    padding-left: 150px;
    padding-top: 20px;
}
.profile__photo{
    padding-left: 120px;
    margin: auto;
}
