@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body{
    font-family: 'Hind Siliguri', sans-serif;
    /*color: #F4F9FC;*/
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    background-color: beige;
}
.wrapper{
    display: flex;
    padding: 50px 0 25px 0;;
}
.card{
    
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);;
}