@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body{
    font-family: 'Hind Siliguri', sans-serif;
    /*color: #F4F9FC;*/
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    background-color: beige;
}
.wrapper{
    display: flex;
    padding: 50px 0 25px 0;;
}
.card{
    
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);;
}
.card__image{
    display: flex;
    width: 275px;
    height: 231px;
}
.card__percent text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F4F9FC;
    opacity: 0.6;
}

.card__header{
    width: 249px;
    height: 81px;

}
.card__header text{
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    color: #F4F9FC;
}
.card__show text{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
color: #F4F9FC;
}