/*div{
    width: 100px;
    height: 100px;
    background-color: red;
}*/

.item{idth: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
        }
.selected{
    border: 2px solid black
}

#some-item {
        width: 100px;
        height: 100px;
        background-color: blue;
    }

.object{
    background-color: blueviolet !important;
}
.some-text{
    min-width: 100px;
    max-width: 300px;
    min-height: 50px;
    max-height: 200px;

    background-color: aqua;


}

.wrapper{
    width: 100vv;
    height: 100vh;
}
.item{
    width: 100%;
    height: 50vh;
    background-color: yellow;
}
.item-one{
    width: 30%;
    height: 33,3%;
    background-color: red;
}
.item-two{
    width: 50%;
    height: 33%;
    background-color: green;
}

.item-three{
    width: auto;
    height: 33%;
    background-color: blue;
}