@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');


body{
    font-family: 'Robobto', sans-serif
}

.trusted__container{
width: 100%;
}

.trusted__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #191919;
    padding: 236px 0 160px 0;
}

.trusted__header{
    padding-bottom: 51px;
    max-width: 525px;

}

.trusted__header h2{
    columns: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.slider__main{
    overflow: hidden;
}

.slider__images{
    width: 100%;
    display: flex;
    padding: 51px 0;
    transform: translateX(-10%);
    transition: all ease-in-out 0.5s;
}

.slider__image{
    height: auto;
    min-width: 752px;
    margin: 0 35px;

}

.slider__controls{
  padding: 40px 0;  
}

.slider__controls button{
    width: 48px;
    height: 48px;
    margin: 0 16px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.5s;


}

.slider__controls button:hover{
    background: rgb(78, 77, 77);

    
}

.trusted__footer{
    padding-top: 57px;
}

.trusted__footer-text p{
    color: #FFFFFF99;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.559642px;
    text-transform: uppercase;
    
}

.trusted__footer-logos{
    margin: 0 28px;
}

